body {
  padding: 0;
  margin: 0;
  background-color: blueviolet;
}

.list {
  font-size: 32px;
  list-style: none;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  width: 500px;
}

.list:empty::before {
  content: "Speech recognition results appear here...";
  color: darkgray;
  font-size: 28px;
  animation: flash 3s infinite alternate ease-in-out;
}

.list-item {
  padding: 8px 4px;
  border-bottom: 1px solid darkgray;
}

.list-item:last-child {
  border: none;
}

.list-item:empty::before {
  content: "•••";
  color: darkgray;
  animation: flash 1s alternate infinite ease-in-out;
}

@keyframes flash {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
